ReflexEcosService/Service References/Ecos2ReflexService/ReflexService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReflexService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IReflexService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" />
      <xsd:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReflexService_GetEstateCases_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstateCases" />
  </wsdl:message>
  <wsdl:message name="IReflexService_GetEstateCases_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstateCasesResponse" />
  </wsdl:message>
  <wsdl:message name="IReflexService_GetCaseOccurences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseOccurences" />
  </wsdl:message>
  <wsdl:message name="IReflexService_GetCaseOccurences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseOccurencesResponse" />
  </wsdl:message>
  <wsdl:message name="IReflexService_GetDocumentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFile" />
  </wsdl:message>
  <wsdl:message name="IReflexService_GetDocumentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IReflexService">
    <wsdl:operation name="GetEstateCases">
      <wsdl:input wsaw:Action="http://tempuri.org/IReflexService/GetEstateCases" message="tns:IReflexService_GetEstateCases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReflexService/GetEstateCasesResponse" message="tns:IReflexService_GetEstateCases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseOccurences">
      <wsdl:input wsaw:Action="http://tempuri.org/IReflexService/GetCaseOccurences" message="tns:IReflexService_GetCaseOccurences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReflexService/GetCaseOccurencesResponse" message="tns:IReflexService_GetCaseOccurences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IReflexService/GetDocumentFile" message="tns:IReflexService_GetDocumentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReflexService/GetDocumentFileResponse" message="tns:IReflexService_GetDocumentFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReflexService" type="tns:IReflexService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IReflexService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEstateCases">
      <soap:operation soapAction="http://tempuri.org/IReflexService/GetEstateCases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCaseOccurences">
      <soap:operation soapAction="http://tempuri.org/IReflexService/GetCaseOccurences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFile">
      <soap:operation soapAction="http://tempuri.org/IReflexService/GetDocumentFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReflexService">
    <wsdl:port name="BasicHttpBinding_IReflexService" binding="tns:BasicHttpBinding_IReflexService">
      <soap:address location="http://localhost/Ecos2PublicServices/ReflexService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>