ReflexEcosService/Service References/Ecos2ReflexService/ReflexService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" />
  <xs:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetEstateCases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstateCasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" minOccurs="0" name="GetEstateCasesResult" nillable="true" type="q1:ArrayOfReflexCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseOccurences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="caseId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseOccurencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" minOccurs="0" name="GetCaseOccurencesResult" nillable="true" type="q3:ArrayOfReflexOccurrence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="documentId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" minOccurs="0" name="GetDocumentFileResult" nillable="true" type="q5:ReflexFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>