ReflexEcosService/Service References/Ecos2ReflexService/ReflexService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ecos2PublicServices.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Ecos2PublicServices/ReflexService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfReflexCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflexCase" nillable="true" type="tns:ReflexCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflexCase" nillable="true" type="tns:ArrayOfReflexCase" />
  <xs:complexType name="ReflexCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseId" type="ser:guid" />
      <xs:element minOccurs="0" name="CaseTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dnr" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedObjects" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflexCase" nillable="true" type="tns:ReflexCase" />
  <xs:complexType name="ArrayOfReflexOccurrence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflexOccurrence" nillable="true" type="tns:ReflexOccurrence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflexOccurrence" nillable="true" type="tns:ArrayOfReflexOccurrence" />
  <xs:complexType name="ReflexOccurrence">
    <xs:sequence>
      <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfReflexDocumentMetadata" />
      <xs:element minOccurs="0" name="HasSensitiveDocuments" type="xs:boolean" />
      <xs:element minOccurs="0" name="OccurenceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OccurenceTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflexOccurrence" nillable="true" type="tns:ReflexOccurrence" />
  <xs:complexType name="ArrayOfReflexDocumentMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflexDocumentMetadata" nillable="true" type="tns:ReflexDocumentMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflexDocumentMetadata" nillable="true" type="tns:ArrayOfReflexDocumentMetadata" />
  <xs:complexType name="ReflexDocumentMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" type="ser:guid" />
      <xs:element minOccurs="0" name="DocumentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasFile" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflexDocumentMetadata" nillable="true" type="tns:ReflexDocumentMetadata" />
  <xs:complexType name="ReflexFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflexFile" nillable="true" type="tns:ReflexFile" />
</xs:schema>