ByggrService/ArendeExport/ArendeExport_Binding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.tekis.se/binding" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="www.tekis.se/ServiceContract" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.tekis.se/binding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="www.tekis.se/ServiceContract" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IExportArenden" type="i0:IExportArenden">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIntressent">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetIntressent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedArendenCount">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetUpdatedArendenCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedArenden">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetUpdatedArenden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArende">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetArende" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateradeArendenByPersOrgNr">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetRelateradeArendenByPersOrgNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateradeArendenByPersOrgNrAndRole">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetRelateradeArendenByPersOrgNrAndRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelateradeArendenByFastighet">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetRelateradeArendenByFastighet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetDocument" style="document" />
      <wsdl:input name="GetDocumentRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemisserByPersOrgNr">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetRemisserByPersOrgNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHandlingTyper">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetHandlingTyper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoller">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetRoller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewArende">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveNewArende" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewHandelse">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveNewHandelse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHandelse">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/UpdateHandelse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewRemissvar">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveNewRemissvar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBevakning">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveBevakning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArendeObjekt">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetArendeObjekt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArendeObjekt">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveArendeObjekt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHandelseHandling">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveHandelseHandling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArendeHandlaggare">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/GetArendeHandlaggare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArendeHandlaggare">
      <soap:operation soapAction="www.tekis.se/ServiceContract/V4/IExportArenden/SaveArendeHandlaggare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>